<!DOCTYPE HTML>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<title>ZYKY</title>
<link href="css/styles.css" rel="stylesheet">
<link href="css/jquery.mobile-1.3.2.css" rel="stylesheet">
<script src="js/jquery-1.7.2.min.js" type="text/javascript"></script>
<script src="js/jquery.mobile-1.3.2.min.js" type="text/javascript"></script>
<script src="js/jquery.knob.js" type="text/javascript"></script>
<script src="phonegap.js" type="text/javascript"></script>
<script src="js/faceGap-1.0.js"></script>
<script src="childbrowser.js" type="text/javascript"></script>
<script src="js/all.js" type="text/javascript"></script>
<script src="js/underscore-min.js" type="text/javascript"></script>
<script src="js/backbone-min.js" type="text/javascript"></script>
<script src="js/script.js" type="text/javascript"></script>
<script src="js/utility.js" type="text/javascript"></script>
<script>
 
// Wait for device API libraries to load //
        document.addEventListener("deviceready", onDeviceReady, false);

        // device APIs are available //
        function onDeviceReady() {
			
			document.addEventListener("backbutton", function(e){
				if($.mobile.activePage.is('#login')){
					//e.preventDefault();
					navigator.app.exitApp();
				}
				else {
					navigator.app.backHistory();
				}
			}, false);
			
			window.requestFileSystem(
	         LocalFileSystem.PERSISTENT, 0, 
	         function onFileSystemSuccess(fileSystem) {
	             window.currentDir = fileSystem.root.fullPath;
	             window.fileSystem = fileSystem;
	         }, fail);
			 
		}
		
		function signFb(){
			//Config Plugin
			var config = {
				app_id      : '250634401767441',
				secret      : '29fa8a0939f53c3c9bc7e15cbbddc14b',
				scope       : 'publish_stream,email',
				host        : 'http://wiredelta.com:12001/auth/auth/facebook', //App Domain ( Facebook Developer ).
				onLogin     : _onLogin,
				onLogout    : _onLogout
			};
			
			//Login Facebook
			$(document).FaceGap(config);
			//Logout Facebook
			//$(document).FaceGap('logout');
			
			//Callback Login
			function _onLogin( event ){     
				var email=event.data.email;
				var uid=event.data.id;
				var name=event.data.name;
				
				var dataString='user[email]='+ email + '&user[uid]=' +  uid + '&user[name]=' +  name;
				$.ajax({
					url  : 'http://wiredelta.com:12001/user/facebook',
					data: dataString,
					type : "POST",
					dataType: 'json',
					success : function(res){
						localStorage.user_token=res.token;
						$('#tokenId').attr("value",localStorage.user_token);
						location.href='#songsLibrary';
					}
				});
			}
			
			//Callback Logout
			function _onLogout( event ){
				//alert('status > '+event.status); // 1 - success, 0 - error
				//alert('message > '+event.message);
			}
			
			}
			//Function callback response
			function _callback( event ){
				//alert('_callback status > '+event.status);
//				alert('_callback data > '+event.data);
//				alert('_callback message > '+event.message);
			}
			
			//Config Object FB API
			var _fb = {
				path    :   '/me/friends',
				method  :   'GET',
				params  :   { limit : 5 },
				cb  :   _callback //Function callback response
			};
			
			//Get FB API
			$(document).FaceGap('fb_api', _fb); 
          

        
		
		function openMedia(music){
			
			//localstorage for music link
			localStorage.music_url=music;
			//set attr for mus_link id.
			$('#mus_link').attr("value",localStorage.music_url);
			
			window.location.href="#mediaPlayer";
		}
		
		// Audio player //
        var my_media = null;
        var mediaTimer = null;
		
        // Play audio//
        function playAudio() {
			
			var src =$('#mus_link').val();
            // Create Media object from src
            my_media = new Media(src, onSuccess, onError);
			my_media.play();
			// Update my_media position every second
            if (mediaTimer == null) {
                mediaTimer = setInterval(function() {
                    // get my_media position
                    my_media.getCurrentPosition(
                        // success callback
                        function(position) {
                            if (position > -1) {
                                setAudioPosition(Utility.formatTime(position));
                            }
                        },
                        // error callback
                        function(e) {
                            console.log("Error getting pos=" + e);
                            setAudioPosition("Error: " + e);
                        }
                    );
                }, 1000);
				
			
			// Get duration
			var counter = 0;
			var timerDur = setInterval(function() {
				counter = counter + 100;
				if (counter > 2000) {
					clearInterval(timerDur);
				}
				var dur = my_media.getDuration();
				if (dur > 0) {
					clearInterval(timerDur);
					document.getElementById('timeRemaining').innerHTML =(dur);
					console.log(dur);
					alert(dur);
				}
		   }, 100);
            }
		}

        // Pause audio
        function pauseAudio() {
            if (my_media) {
                my_media.pause();
            }
        }

        // Stop audio
     	function stopAudio() {
            if (my_media) {
                my_media.stop();
            }
			clearInterval(mediaTimer);
            mediaTimer = null;
		}
		
		
        // onSuccess Callback
        function onSuccess() {
            console.log("playAudio():Audio Success");
        }

        // onError Callback
        //
        function onError(error) {
            alert('code: '    + error.code    + '\n' +
                  'message: ' + error.message + '\n');
        }

        // Set audio position
        //
        function setAudioPosition(position) {
            document.getElementById('timeElapsed').innerHTML = position;
		
        }
		// Set audio duration
        //
        function setAudioDuration(duration) {
            document.getElementById('timeRemaining').innerHTML = duration;
        }
		
		//fb login with childbrowser plugin
		function loginFB(url){
			window.plugins.childBrowser.showWebPage(url, { showLocationBar: false });
			window.plugins.childBrowser.onLocationChange = function(locationLink){
				if (locationLink == "http://wiredelta.com:12001/#_=_") {
					window.plugins.childBrowser.close();
				}
			}
		}
		
		//Purchase songs with childbrowser plugin
		function openCart(cartUrl){
			var token=cartUrl + $('#tokenId').val();
			
			window.plugins.childBrowser.showWebPage(token, { showLocationBar: true });
			window.plugins.childBrowser.onLocationChange = function(locationLink){
				if (locationLink == "http://wiredelta.com:12001/tracks/mine") {
					window.plugins.childBrowser.close();
					window.location.href="#download";
				}
			}
		}
		
		//download mp3
		function downloadFile(dwdURL) {
	        var fileTransfer = new FileTransfer();
			
			fileTransfer.onprogress = function(progressEvent) {
				if (progressEvent.lengthComputable) {
					var perc = Math.floor(progressEvent.loaded / progressEvent.total * 100);
					navigator.notification.alert( perc + "% downloading..", null, 'My Downloads', 'OK');
					}
			};

	        fileTransfer.download(dwdURL, 
	        currentDir+"/player.mp3",
	           
	           function(error) {
	            // alert("Cannot download video.  No/bad internet connection?");
	            navigator.notification.alert("Cannot download MP3.  No/bad internet connection?", null, 'My Downloads', 'OK');
	            console.log(error);
	           });
	    }

</script>
</head>

<body>
<!-- Login Page Starts Here-->
<div data-role="page" id="login">
  <div data-theme="g" data-role="header" class="header"><h3> LOG IN </h3>
  </div>
  <div data-role="content" class="loginContent"> 
  <a data-role="button" href="#" onClick="signFb()" class="facebook_sign_up"> <span>Sign in with Facebook</span> </a>
    <h3>OR</h3>
    
  </div>
  <div data-role="none" id="signRes" align="center"></div>
  <form class="loginform">
    <div data-role="fieldcontain">
      <input  placeholder="Email" id="email" value="" type="text" class="email">
    </div>
    <div data-role="fieldcontain">
      <input  placeholder="Password" id="pwd" value="" type="password" class="password">
    </div>
    <div class="forgotPassword">
     <a href="#">Forgot Password ?</a>
    </div>
    <div class="signupbox"> <a data-role="button" href="#signup" class="signup" data-transition="fade"></a>
      <label>Sign Up</label>
    </div>
    <div class="signinbox"> <a data-role="button" href="#" onClick="signIn()" class="signin"></a>
    <input type="hidden" id="tokenId" value="0"/>
      <label>Sign In</label>
    </div>
  </form>
</div>
<!-- Login Page ends Here--> 

<!-- Signup Page Starts Here-->
<div data-role="page" id="signup">
  <div data-theme="g" data-role="header" class="header">
    <h3> SIGN UP </h3>
  </div>
  <div data-role="content">
  <div data-role="none" id="regStatus" align="center"></div>
    <form class="signupform">
      <div data-role="fieldcontain">
        <input type="text" class="textbox" id="name" placeholder="Name">
      </div>
      <div data-role="fieldcontain">
        <input type="text" class="textbox" id="mail" placeholder="Email">
      </div>
      <div data-role="fieldcontain">
        <input type="password" class="textbox" id="password" placeholder="Password">
      </div>
      <div data-role="fieldcontain">
        <input type="password" class="textbox" id="confirm-password" placeholder="Confirm Password">
      </div>
      <div data-role="fieldcontain">
        <input type="text" class="textbox" id="phone" placeholder="Phone Number">
      </div>
      <div data-role="fieldcontain">
        <input type="text" class="textbox" id="state" placeholder="State" >
      </div>
      <div data-role="fieldcontain">
        <input type="text" class="textbox" id="country" placeholder="Country">
      </div>
      <div class="signupbox"> <a data-role="button" href="#" class="confirm" onClick="signUp()"></a>
        <label>SUBMIT</label>
      </div>
      <div class="signinbox"> <a data-role="button" href="#login" class="cancel"></a>
        <label>CANCEL</label>
      </div>
    </form>
  </div>
</div>
<!-- Signup Page ends Here--> 

<!-- Songs Library Page Starts Here-->
<div data-role="page" id="songsLibrary">
  <div data-role="panel" id="loginDetails" data-theme="a" data-position="left" data-display="overlay">
    <div data-theme="g" data-role="header" class="header header2">
      <h3>ZYKY </h3><img src="images/close1.png" alt="" class="close" data-rel="close">
    </div>
    <div data-role="content">
      <div class="profileDetails">
        <div class="profileImage"><img src="images/profileImg.png" alt=""></div>
        <br/>
        <div class="profileName">
          <h4>Greyson Sterling</h4>
          <h5>San Francisco, CA</h5>
        </div>
      </div>
      <div class="profileFeatures">
        <p><a href="#hitList" ><img src="images/hitlist_icon.png" alt=""> Hit List</a></p>
        <p><a href="#freeList" ><img src="images/freemusic_icon.png" alt=""> Free Music</a></p>
        <p><a href="#search"><img src="images/findmusic_icon.png" alt=""> Find Music</a></p>
        <p><a href="#download" onClick="myDownload()"><img src="images/dwd_icon.png" alt="">My Downloads</a></p>
        <p><a href="#"><img src="images/user_icon.png" alt=""> User</a></p>
      </div>
    </div>
  </div>
  <div data-theme="g" data-role="header" class="header fixedhead" data-position="fixed"> <a data-role="button" href="#loginDetails" class="ui-btn-left more" data-transition="slide"></a>
    <h3> playlist </h3>
  </div>
  <div data-role="content">
  
  <div data-role="none" class="song-temp">
  <!--playlist rendering-->
  </div>

    
  </div>
</div>
<!-- Songs Library ends Here--> 

<!--free Songs  Page Starts Here-->
<div data-role="page" id="freeList">
  <div data-role="panel" id="loginDetails" data-theme="a" data-position="left" data-display="overlay">
    <div data-theme="g" data-role="header" class="header header2">
      <h3>ZYKY </h3><img src="images/close1.png" alt="" class="close" data-rel="close">
    </div>
    <div data-role="content">
      <div class="profileDetails">
        <div class="profileImage"><img src="images/profileImg.png" alt=""></div>
        <br/>
        <div class="profileName">
          <h4>Greyson Sterling</h4>
          <h5>San Francisco, CA</h5>
        </div>
      </div>
      <div class="profileFeatures">
        <p><a href="#hitList"><img src="images/hitlist_icon.png" alt=""> Hit List</a></p>
        <p><a href="#freeList"><img src="images/freemusic_icon.png" alt=""> Free Music</a></p>
        <p><a href="#search"><img src="images/findmusic_icon.png" alt=""> Find Music</a></p>
        <p><a href="#download" onClick="myDownload()"><img src="images/dwd_icon.png" alt="">My Downloads</a></p>
        <p><a href="#"><img src="images/user_icon.png" alt=""> User</a></p>
      </div>
    </div>
  </div>
  <div data-theme="g" data-role="header" class="header fixedhead" data-position="fixed"> <a data-role="button" href="#loginDetails" class="ui-btn-left more" data-transition="slide"></a>
    <h3>Free Music</h3>
  </div>
  <div data-role="content">
  
  <div data-role="none" class="free-temp">
  <!--playlist rendering-->
  </div>

    
  </div>
</div>
<!--free Songs Library ends Here--> 

<!--Hit Songs Page Starts Here-->
<div data-role="page" id="hitList">
  <div data-role="panel" id="loginDetails" data-theme="a" data-position="left" data-display="overlay">
    <div data-theme="g" data-role="header" class="header header2">
      <h3>ZYKY </h3><img src="images/close1.png" alt="" class="close" data-rel="close">
    </div>
    <div data-role="content">
      <div class="profileDetails">
        <div class="profileImage"><img src="images/profileImg.png" alt=""></div>
        <br/>
        <div class="profileName">
          <h4>Greyson Sterling</h4>
          <h5>San Francisco, CA</h5>
        </div>
      </div>
      <div class="profileFeatures">
        <p><a href="#hitList"><img src="images/hitlist_icon.png" alt=""> Hit List</a></p>
        <p><a href="#freeList" ><img src="images/freemusic_icon.png" alt=""> Free Music</a></p>
        <p><a href="#search"><img src="images/findmusic_icon.png" alt=""> Find Music</a></p>
        <p><a href="#download" onClick="myDownload()"><img src="images/dwd_icon.png" alt="">My Downloads</a></p>
        <p><a href="#"><img src="images/user_icon.png" alt=""> User</a></p>
      </div>
    </div>
  </div>
  <div data-theme="g" data-role="header" class="header fixedhead" data-position="fixed"> <a data-role="button" href="#loginDetails" class="ui-btn-left more" data-transition="slide"></a>
    <h3>Hit Music</h3>
  </div>
  <div data-role="content">
  
  <div data-role="none" class="hit-temp">
  <!--playlist rendering-->
  </div>
    
  </div>
</div>
<!--Hit Songs Library ends Here--> 

<!-- Searc Page Starts Here-->
<div data-role="page" id="search">
<div data-role="panel" id="loginDetails" data-theme="a" data-position="left" data-display="overlay">
    <div data-theme="g" data-role="header" class="header header2">
      <h3>ZYKY </h3><img src="images/close1.png" alt="" class="close" data-rel="close">
    </div>
    <div data-role="content">
      <div class="profileDetails">
        <div class="profileImage"><img src="images/profileImg.png" alt=""></div>
        <br/>
        <div class="profileName">
          <h4>Greyson Sterling</h4>
          <h5>San Francisco, CA</h5>
        </div>
      </div>
      <div class="profileFeatures">
        <p><a href="#hitList"><img src="images/hitlist_icon.png" alt=""> Hit List</a></p>
        <p><a href="#freeList"><img src="images/freemusic_icon.png" alt=""> Free Music</a></p>
        <p><a href="#search"><img src="images/findmusic_icon.png" alt=""> Find Music</a></p>
        <p><a href="#download" onClick="myDownload()"><img src="images/dwd_icon.png" alt="">My Downloads</a></p>
        <p><a href="#"><img src="images/user_icon.png" alt=""> User</a></p>
      </div>
    </div>
  </div>
  <div data-theme="g" data-role="header" class="header"><a data-role="button" href="#loginDetails" class="ui-btn-left more" data-transition="slide"></a><h3> ZYKY </h3>
  </div>
  <div data-role="content" class="loginContent searchContent"> 
	<div class="SearchLogo">
     <img src="images/searchLogo.png" alt="" width="20%">
    </div>
    <div data-role="none" id="searchField">
     <input type="text" class="email" placeholder="Search" id="keyWord" />
     </div>
     <a href="#searchTrack" class="searchBtn" onClick="mySearch()">SEARCH SONGS</a>
     <div class="signupbox" style="margin-top:40px;"> <a data-role="button" href="#hitList" onClick="hitList()" class="hitlist" ></a>
      <label style="color:#fff; text-shadow:none; margin: 1% 26% 0 0%;">HIT LIST</label>
    </div>
    <div class="signinbox" style="margin-top:40px; margin-bottom:30px;"> <a data-role="button" href="#freeList" onClick="freeList()" class="free"></a>
      <label style="color:#fff; text-shadow:none; margin: 1% 0 0 19%;">FREE MUSIC</label>
    </div>
    </div>
  </div>
</div><!-- Search Page ends Here-->

<!-- Search Songs List Page Starts Here-->
<div data-role="page" id="searchTrack">
  <div data-role="panel" id="loginDetails" data-theme="a" data-position="left" data-display="overlay">
    <div data-theme="g" data-role="header" class="header header2">
      <h3>ZYKY </h3><img src="images/close1.png" alt="" class="close" data-rel="close">
    </div>
    <div data-role="content">
      <div class="profileDetails">
        <div class="profileImage"><img src="images/profileImg.png" alt=""></div>
        <br/>
        <div class="profileName">
          <h4>Greyson Sterling</h4>
          <h5>San Francisco, CA</h5>
        </div>
      </div>
      <div class="profileFeatures">
        <p><a href="#hitList"><img src="images/hitlist_icon.png" alt=""> Hit List</a></p>
        <p><a href="#freeList"><img src="images/freemusic_icon.png" alt=""> Free Music</a></p>
        <p><a href="#search"><img src="images/findmusic_icon.png" alt=""> Find Music</a></p>
        <p><a href="#download" onClick="myDownload()"><img src="images/dwd_icon.png" alt="">My Downloads</a></p>
        <p><a href="#"><img src="images/user_icon.png" alt=""> User</a></p>
      </div>
    </div>
  </div>
  
  <div data-theme="g" data-role="header" class="header"> <a data-role="button" href="#loginDetails" class="ui-btn-left more" data-transition="slide"></a>
    <h3> Search Results </h3>
  </div>
  <div data-role="content">
  
  <div data-role="none" class="search-song">
  <!--playlist rendering-->
 
  </div>

    
  </div>
</div><!-- Search Songs List ends Here--> 

<!-- Download Page Starts Here-->
<div data-role="page" id="download">
  <div data-role="panel" id="loginDetails" data-theme="a" data-position="left" data-display="overlay">
    <div data-theme="g" data-role="header" class="header header2">
      <h3>ZYKY </h3><img src="images/close1.png" alt="" class="close" data-rel="close">
    </div>
    <div data-role="content">
      <div class="profileDetails">
        <div class="profileImage"><img src="images/profileImg.png" alt=""></div>
        <br/>
        <div class="profileName">
          <h4>Greyson Sterling</h4>
          <h5>San Francisco, CA</h5>
        </div>
      </div>
      <div class="profileFeatures">
        <p><a href="#hitList"><img src="images/hitlist_icon.png" alt=""> Hit List</a></p>
        <p><a href="#freeList"><img src="images/freemusic_icon.png" alt=""> Free Music</a></p>
        <p><a href="#search"><img src="images/findmusic_icon.png" alt=""> Find Music</a></p>
        <p><a href="#download" onClick="myDownload()"><img src="images/dwd_icon.png" alt="">My Downloads</a></p>
        <p><a href="#"><img src="images/user_icon.png" alt=""> User</a></p>
      </div>
    </div>
  </div>
  <div data-theme="g" data-role="header" class="header fixedhead" data-position="fixed"> <a data-role="button" href="#loginDetails" class="ui-btn-left more" data-transition="slide"></a>
    <h3>My Downloads</h3>
  </div>
  <div data-role="content">
  
      <div data-role="none" class="mydownload">
      
      <!--Download list rendering-->
        
      </div>
    
  </div>
</div>

<!-- Download Page ends Here--> 

<!-- Media Player Page Starts Here-->
<div data-role="page" id="mediaPlayer">
  <div data-theme="g" data-role="header" class="header">
    <div class="playerHead">
      <div class="playerHeadinner">
        <div class="profiledetails">
          <h4>Greyson Sterling</h4>
          <h5><img src="images/mapicon.png" alt="">San Fancisco, CA</h5>
        </div>
        <div class="profileImg"> <img src="images/profileImg1.png" alt=""> </div>
      </div>
    </div>
  </div>
  <div data-role="content">
    <div class="playerMain">
      <div class="coverArt"><img src="images/cover_art.png" alt=""></div>
      <div class="playerControls">
        <div class="songDetails">
          <h4>Titanium (Featuring Sia)</h4>
          <h4>David Guetta</h4>
        </div>
        <div class="SongTimeBox" style="height:60px;">
         <input id="slider1" data-role="none" type="range"  name="slider" value="0" min="0" max="100" data-highlight="true" style="width:100%;">
         <div class="timeElapsed" id="timeElapsed" style="float:left;">0:00</div>
         <div class="timeRemaining" id="timeRemaining" style="float:right;">0:00</div>
        </div>
         <input type="hidden" id="mus_link" value=""/>
        
        <fieldset class="ui-grid-b">
            <div class="ui-block-a"><a href="#" data-role="button" class="" id="play" onClick="playAudio()">
            <img src="images/controlBtns/Play.png">
            </a></div>
            <div class="ui-block-b"><a href="#" data-role="button" class="" id="pause" onClick="pauseAudio()">
            <img src="images/controlBtns/Pause.png">
            </a></div>
            <div class="ui-block-c"> <a href="#" data-role="button" class="" id="stop" onClick="stopAudio()">
            <img src="images/controlBtns/stop.png">
            </a></div>
        </fieldset>
        <!--<div class="controls">
          <a href="#" data-role="none" class="previous" ><img src="images/controlBtns/Play.png"></a>
          <input type="button" class="play" onClick="playAudio()" value="&#160;" style="background:url(images/controlBtns/Play.png) no-repeat;">
          <input type="button" class="next" value="&#160;">
        </div>-->
       
        <div class="controls1">
        <!-- <input type="button" class="suffle" value="&#160;">
         <input type="button" class="replay" value="&#160;">-->
        </div>
      </div>
    </div>
    <div class="tri"> <img src="images/tri1.png" alt=""> </div>
   
  </div>
</div>
<!-- Media Player ends Here-->

<!-- User Profile Starts Here-->
<div data-role="page" id="user">
<div data-role="panel" id="loginDetails" data-theme="a" data-position="left" data-display="overlay">
    <div data-theme="g" data-role="header" class="header header2">
      <h3>ZYKY </h3><img src="images/close1.png" alt="" class="close" data-rel="close">
    </div>
    <div data-role="content">
      <div class="profileDetails">
        <div class="profileImage"><img src="images/profileImg.png" alt=""></div>
        <br/>
        <div class="profileName">
          <h4>Greyson Sterling</h4>
          <h5>San Francisco, CA</h5>
        </div>
      </div>
      <div class="profileFeatures">
        <p><a href="#hitList"><img src="images/hitlist_icon.png" alt=""> Hit List</a></p>
        <p><a href="#freeList"><img src="images/freemusic_icon.png" alt=""> Free Music</a></p>
        <p><a href="#search"><img src="images/findmusic_icon.png" alt=""> Find Music</a></p>
        <p><a href="#download" onClick="myDownload()"><img src="images/dwd_icon.png" alt="">My Downloads</a></p>
        <p><a href="#"><img src="images/user_icon.png" alt=""> User</a></p>
      </div>
    </div>
  </div>
  <div data-theme="g" data-role="header" class="header"><a data-role="button" href="#loginDetails" class="ui-btn-left more" data-transition="slide"></a><h3> ZYKY </h3>
  </div>
  <div data-role="content" class="loginContent userProfile"> 
    <div class="profilePicture">
     <div class="profileImage"><img src="images/profileImg.png" alt=""></div>
    </div>
    <h2><span>Grayson Sterling</span> <input type="text" class="textbox" id="name" placeholder="Name"><img src="images/edit_Icon.png" alt="" class="edit"></h2>
    <div class="detailsPanel">
     <ul>
      <li><div class="userIcons"><img src="images/user_icon.png" alt=""></div><div class="details"><p>E-mail</p><br/><h3 style="display:block !important">Grayson@example.com</h3></div></li>
      <li><div class="userIcons"><img src="images/phone_icon.png" alt=""></div><div class="details"><p>Phone Number</p><br/><h3>+1 415-555-1212.</h3><input type="text" class="textbox" id="name" placeholder="Phone Number"></div></li>
      <li><div class="userIcons"><img src="images/location-icon.png" alt=""></div><div class="details"><p>Location</p><br/><h3>San Fransisco, CA</h3><input type="text" class="textbox" id="name" placeholder="State"><br/><input type="text" class="textbox" id="name" placeholder="Country"></div></li>
      <li><div class="userIcons"><img src="images/musicIcon.png" alt=""></div><div class="details"><p>Songs Downloaded</p><br/><h3>12 Songs</h3></div></li>
     </ul>
    </div>
    <a href="#" class="searchBtn">UPDATE</a>
  </div>
</div><!-- User Profile Ends Here-->

<!-- song list rendering-->
<script type="text/template" id="song-template">
	<div class="song one"> <img src="<%= album.image  %>" alt="">
      <div class="songOverlay">
        <div class="artistandSong">
          <h5>Artist: <%= artist.name  %></h5>
          <h4><%= title %></h4>
        </div>
        <div class="artistImg"> <img src="<%= artist.image  %>" alt=""> </div>
      </div>
      <div class="songHover">
        <div class="artistandSong">
          <h5>Artist: <%= artist.name  %></h5>
          <h4><%= title %></h4>
        </div>
        <div class="artistImg"> <img src="<%= artist.image  %>" alt=""> </div>
        <div class="songFeatures">
          <div class="playSmall"><a href="#" onclick="openMedia('http://dev.wiredelta.com:12001/tracks/<%= id %>/player.mp3')">
          <img src="images/playBtnSmall.png" alt=""></a></div>
          <div class="cart"><a href="#" onclick="openCart('http://wiredelta.com:12001/tracks/<%= id %>/buy?user_token=')">
          <img src="images/cartsmall.png" alt=""></a></div>
        </div>
      </div>
    </div>
</script>

<!--free list rendering-->
<script type="text/template" id="free-template">
	<div class="song one"> <img src="<%= album.image  %>" alt="">
      <div class="songOverlay">
        <div class="artistandSong">
          <h5>Artist: <%= artist.name  %></h5>
          <h4><%= title %></h4>
        </div>
        <div class="artistImg"> <img src="<%= artist.image  %>" alt=""> </div>
      </div>
      <div class="songHover">
        <div class="artistandSong">
          <h5>Artist: <%= artist.name  %></h5>
          <h4><%= title %></h4>
        </div>
        <div class="artistImg"> <img src="<%= artist.image  %>" alt=""> </div>
        <div class="songFeatures">
          <div class="playSmall"><a href="#" onclick="openMedia('http://dev.wiredelta.com:12001/tracks/<%= id %>/player.mp3')">
          <img src="images/playBtnSmall.png" alt=""></a></div>
          <div class="cart"><a href="#" >
          <img src="images/downsmall.png" alt=""></a></div>
        </div>
      </div>
    </div>

</script>

<!--hit song list rendering-->
<script type="text/template" id="hit-template">
	<div class="song one"> <img src="<%= album.image  %>" alt="">
      <div class="songOverlay">
        <div class="artistandSong">
          <h5>Artist: <%= artist.name  %></h5>
          <h4><%= title %></h4>
        </div>
        <div class="artistImg"> <img src="<%= artist.image  %>" alt=""> </div>
      </div>
      <div class="songHover">
        <div class="artistandSong">
          <h5>Artist: <%= artist.name  %></h5>
          <h4><%= title %></h4>
        </div>
        <div class="artistImg"> <img src="<%= artist.image  %>" alt=""> </div>
        <div class="songFeatures">
          <div class="playSmall"><a href="#" onclick="openMedia('http://dev.wiredelta.com:12001/tracks/<%= id %>/player.mp3')">
          <img src="images/playBtnSmall.png" alt=""></a></div>
          <div class="cart"><a href="#" onclick="openCart('http://wiredelta.com:12001/tracks/<%= id %>/buy?user_token=')">
          <img src="images/cartsmall.png" alt=""></a></div>
        </div>
      </div>
    </div>

</script>

<!--search song list rendering-->
<script type="text/template" id="track-template">
	<div class="song one"> <img src="<%= album.image  %>" alt="">
      <div class="songOverlay">
        <div class="artistandSong">
          <h5>Artist: <%= artist.name  %></h5>
          <h4><%= title %></h4>
        </div>
        <div class="artistImg"> <img src="<%= artist.image  %>" alt=""> </div>
      </div>
      <div class="songHover">
        <div class="artistandSong">
          <h5>Artist: <%= artist.name  %></h5>
          <h4><%= title %></h4>
        </div>
        <div class="artistImg"> <img src="<%= artist.image  %>" alt=""> </div>
        <div class="songFeatures">
          <div class="playSmall"><a href="#" onclick="openMedia('http://dev.wiredelta.com:12001/tracks/<%= id %>/player.mp3')">
          <img src="images/playBtnSmall.png" alt=""></a></div>
          <div class="cart"><a href="#" onclick="openCart('http://wiredelta.com:12001/tracks/<%= id %>/buy?user_token=')">
          <img src="images/cartsmall.png" alt=""></a></div>
        </div>
      </div>
    </div>
</script>


<!--download song list rendering-->
<script type="text/template" id="download-template">
<div class="song one <%= status %>"> <img src="<%= track.album.image  %>" alt="">
      <div class="songOverlay">
        <div class="artistandSong">
          <h5>Artist: <%= track.artist.name  %></h5>
		  <h4><%= track.title %></h4>
          <h4>Status: <span class="<%= status %> lower"><%= status %></span></h4>
        </div>
        <div class="artistImg"> <img src="<%= track.artist.image  %>" alt=""></div>
      </div>
	  
	  <div class="songHover">
		<a href="#" class="songHide">
			<div class="artistandSong">
				<h5>Artist: <%= track.artist.name  %></h5>
				<h4><%= track.title %></h4>
			</div>
			<div class="artistImg"> <img src="<%= track.artist.image  %>" alt=""> </div>
			</a>
			<div class="songFeatures">
				<div class="playSmall">
					<a href="#" onclick="openMedia('http://dev.wiredelta.com:12001/tracks/<%= id %>/player.mp3')">
					<img src="images/playBtnSmall.png" alt="">
					</a>
				</div>
				<div class="cart">
					<a href="#" onclick="downloadFile('http://dev.wiredelta.com:12001/tracks/<%= id %>/player.mp3')">
					<img src="images/downsmall.png" alt="">
					</a>
				</div>
			</div><!--\songFeatures-->
		</div><!--\songHover-->
    </div><!--song one-->
</script>
</body>
</html>
